body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color:rgb(1, 171, 250);
}

#quiz-container {
    max-width: 600px;
    height: 70vh;
    margin: auto;
    margin-top: 15vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 0 #ccc;
    padding: 50px;

}

.question {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    color: black;
}

.options {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10vh;
}

.option {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.option.selected {      
            
    /* background-color: #4caf50; */
    background-color: rgb(1, 171, 250);
    color: white;
}

#next-btn {
    margin-top: 5vh;
    padding: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
} 

#error-message {
    color: red;
    margin-top: 25px;
}
